/*  header  ****************************/
.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: rem(34);
  padding-right: rem(22);
  height: rem(71);
  display: flex;
  align-items: center;
  background: $color-base-1;

  @include mq(md) {
    padding-left: rem(22);
    padding-right: rem(10);
  }
}

.header__logo {
  max-width: rem(78.7);
  margin-right: auto;

  @include mq(md) {
    max-width: rem(77);
  }
  a {
  }
}

.header__nav {
  margin-right: rem(44);

  @include mq(md) {
    display: none;
  }
}

.nav__lists {
  display: flex;
  align-items: center;
}

.nav__list {
  &:first-child {
    margin-right: rem(26.7);
  }

  &:nth-child(2) {
    padding: 0 rem(24.3);
    position: relative;
    margin-right: rem(22.7);

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      transform: translate(0, -50%);
      left: 0;
      height: rem(24.3);
      width: rem(1);
      background: $color-font;
    }

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      transform: translate(0, -50%);
      right: 0;
      height: rem(24.3);
      width: rem(1);
      background: $color-font;
    }
  }

  a {
    display: inline-block;
    font-size: rem(12);
    line-height: (26 / 12);
    color: $color-font;
    padding: rem(10) 0;
  }
}

.header__reserve {
}
.header__reserve--pc {
  display: inline-block;
  width: rem(161);
  font-size: rem(11);
  line-height: 1;
  padding-top: rem(14);
  padding-bottom: rem(14);
  text-align: center;
  background: $color-cv;
  color: $color-font-btn;
  font-weight: 700;
  padding-left: rem(26);
  border-radius: rem(4);
  position: relative;

  @include mq(md) {
    display: none;
  }
}

.header__reserve--sp {
  display: none;

  @include mq(md) {
    display: inline-block;
    width: rem(50);
    font-size: rem(11);
    line-height: 1;
    padding-top: rem(32);
    padding-bottom: rem(7);
    text-align: center;
    background: $color-cv;
    color: $color-font-btn;
    font-weight: 700;
    border-radius: rem(4);
    position: relative;
  }
}

.reserve__icon {
  position: absolute;
  content: "";
  width: rem(22.8);
  height: rem(23.2);
  top: 50%;
  left: rem(15);
  transform: translate(0, -50%);
  background: url(/assets/images/icon-attendance.svg) center center / cover;
  background-repeat: no-repeat;
}

.reserve__icon--sp {
  position: absolute;
  content: "";
  width: rem(22.8);
  height: rem(23.2);
  top: rem(5);
  left: 50%;
  transform: translate(-50%, 0);
  background: url(/assets/images/icon-attendance.svg) center center / cover;
  background-repeat: no-repeat;
}

/*  first-view  ****************************/
.first-view {
  height: (666 / 1080) * 100vw;
  background: url(/assets/images/fv_pc.png) center center / cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: rem(71);

  @include mq(md) {
    height: (615 / 375) * 100vw;
    background: url(/assets/images/fv_sp.png) center center / cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.first-view__button {
  margin: auto;
  max-width: rem(305);
  width: 100%;
  margin-bottom: rem(17);

  @include mq(md) {
    margin-bottom: rem(26);
  }
}

.first-view__annotation {
  // text-align: center;
  font-size: rem(12);
  color: $color-font;
  margin: 0 auto;
  margin-bottom: rem(20);

  @include mq(md) {
    margin-bottom: rem(22.5);
  }

  a {
    text-decoration: underline;
    color: #378ce2;
    text-align: center;
  }
}

/*  about  ****************************/
.about {
  width: 100%;
  padding: 0 $padding-pc;
  padding-top: rem(127);
  padding-bottom: rem(170);
  position: relative;
  overflow: hidden;

  @include mq(md) {
    padding: rem(24) 0 rem(208);
  }

  &::before {
    position: absolute;
    z-index: -1;
    content: "";
    left: 0;
    top: rem(198);
    width: rem(308);
    height: rem(233);
    background: url(/assets/images/about01.png) center center / cover;
    background-repeat: no-repeat;

    @include mq(md) {
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(/assets/images/about-sp.png) center center / cover;
      background-repeat: no-repeat;
    }
  }

  &::after {
    position: absolute;
    z-index: -1;
    content: "";
    top: rem(37);
    right: rem(-30);
    width: rem(347);
    height: rem(445);
    background: url(/assets/images/about02.png) center center / cover;
    background-repeat: no-repeat;

    @include mq(md) {
      content: none;
    }
  }
}

.about__title {
  padding-left: rem(50);
  letter-spacing: 0.2em;
  position: relative;
  width: 100%;
  margin-bottom: rem(50);
  margin-left: rem(10);
  text-align: center;

  span {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: rem(-63);
      transform: translate(0, -50%);
      background: url(/assets/images/concept-img03@2x.svg) center center / cover;
      background-repeat: no-repeat;
      width: rem(41.5);
      height: rem(34.2);
    }
  }

  @include mq(md) {
    max-width: 100%;
    margin-bottom: rem(28);
    margin-left: 0;
    padding-top: rem(15);
    padding-bottom: rem(11);
    background: $color-main;
    color: $color-font-btn;
    text-align: center;

    span {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        left: rem(-45);
        bottom: rem(0);
        background: url(/assets/images/icon-modelhouse-sp.svg) center center /
          cover;
        background-repeat: no-repeat;
        width: rem(28);
        height: rem(23);
      }
    }
  }
}

.about__lead {
  text-align: center;
  font-size: rem(18);
  letter-spacing: 0.04em;
  line-height: (32 / 18);

  @include mq(md) {
    font-size: rem(14);
    line-height: (22 / 14);
  }

  span {
    font-weight: 700;
    background: linear-gradient(transparent 80%, #fff49b 80%);
  }
}

/*  present  ****************************/
.present {
  background: $color-base-2;
  padding: 0 $padding-pc;
  padding-top: rem(87);
  padding-bottom: rem(62);

  @include mq(md) {
    padding: rem(24) 0 rem(38);
  }
}

.present__title {
  padding-left: rem(52);
  position: relative;
  max-width: rem(384);
  width: 100%;
  margin: auto;
  margin-bottom: rem(34);
  text-align: right;
  letter-spacing: 0.15em;

  @include mq(md) {
    padding: rem(14) 0 rem(12) rem(42);
    max-width: 100%;
    text-align: center;
    letter-spacing: 0.05em;
    background: $color-main;
    color: $color-font-btn;
    margin-bottom: rem(28);

    span {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        left: rem(-42);
        bottom: rem(0);
        background: url(/assets/images/icon-present-sp.svg) center center /
          cover;
        background-repeat: no-repeat;
        width: rem(23.8);
        height: rem(22.5);
      }
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background: url(/assets/images/icon-present.svg) center center / cover;
    background-repeat: no-repeat;
    width: rem(33);
    height: rem(31);
    text-align: center;

    @include mq(md) {
      content: none;
    }
  }
}

.present__contents {
  background: $color-base-1;
  padding: rem(48) rem(69) rem(32.5) rem(79);
  max-width: rem(936);
  width: 100%;
  margin: auto;
  margin-bottom: rem(42);
  background: linear-gradient(135deg, transparent rem(40), $color-base-1 0) top
      left,
    linear-gradient(-135deg, transparent 0, $color-base-1 0) top right,
    linear-gradient(-45deg, transparent rem(40), $color-base-1 0) bottom right,
    linear-gradient(45deg, transparent 0, $color-base-1 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;

  @include mq(md) {
    padding: 0 $padding-sp;
    background: transparent;
    margin-bottom: rem(16);
  }
}

.content {
  display: flex;
  align-items: center;

  @include mq(md) {
    display: block;
  }
}

.content__quo {
  max-width: rem(395);
  width: 100%;
  margin-right: auto;
  margin-top: rem(-17);

  @include mq(md) {
    margin: auto;
    margin-bottom: rem(15);
    max-width: rem(309);
    width: 100%;
  }
  img {
  }
}

.content__conditions {
  max-width: rem(341);
  width: 100%;
  text-align: left;
  margin-left: rem(10);

  @include mq(md) {
    margin: auto;
  }
}

.conditions {
  @include mq(md) {
    display: flex;
    align-items: center;
    margin-bottom: rem(4);
  }
}

.conditions__title {
  color: $color-main;
  border: rem(2) solid $color-main;
  border-radius: rem(8);
  max-width: rem(196);
  width: 100%;
  letter-spacing: 0.02em;
  line-height: 1;
  padding-top: rem(17.5);
  padding-bottom: rem(11.5);
  text-align: center;
  margin-bottom: rem(11.5);
  position: relative;

  @include mq(md) {
    font-size: rem(12);
    letter-spacing: 0.02em;
    line-height: (16 / 12);
    max-width: rem(78);
    width: 100%;
    padding-top: rem(5);
    padding-bottom: rem(5);
    margin-right: rem(15);
    margin-bottom: rem(-6);
    border: rem(3) solid $color-main;
  }

  br {
    display: none;

    @include mq(md) {
      display: block;
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: rem(-23);
    left: 50%;
    transform: translate(-50%, 0);
    background: url(/assets/images/present-ribbon.svg) center center / cover;
    background-repeat: no-repeat;
    width: rem(46.3);
    height: rem(18.4);
  }
}

.conditions__leads {
  margin-bottom: rem(9);
}

.conditions__lead {
  letter-spacing: 0.04em;
  line-height: (30 / 16);
  padding-left: rem(23);
  position: relative;

  @include mq(md) {
    letter-spacing: 0.03em;
    font-size: rem(12);
    line-height: (24 / 12);
    padding-left: rem(18);
    margin: 0;
  }

  &::before {
    position: absolute;
    content: "▶︎";
    color: $color-main;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
}

.conditions__text {
  font-size: rem(12);
  line-height: (18 / 12);
  letter-spacing: 0.04em;

  @include mq(md) {
    font-size: rem(11);
    line-height: (17 / 11);
    letter-spacing: 0.02em;
    text-align: center;
    margin-left: rem(-19);
  }
}

.present__button {
  margin: auto;
}

/*  shop  ****************************/
.shop {
  padding: rem(88) $padding-pc rem(90);
  overflow: hidden;

  @include mq(md) {
    padding: rem(24.3) 0 rem(50);
  }
}

.shop-inner {
  max-width: rem(885);
  width: 100%;
  margin: auto;

  @include mq(md) {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }
}

.shop__title {
  letter-spacing: 0.15em;
  margin-bottom: rem(49);
  position: relative;
  text-align: center;
  margin-left: rem(66);

  span {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      left: rem(-62);
      bottom: rem(0);
      background: url(/assets/images/icon-modelhouse.svg) center center / cover;
      background-repeat: no-repeat;
      width: rem(39);
      height: rem(30);
    }
  }

  @include mq(md) {
    letter-spacing: 0.2em;
    max-width: 100%;
    background: $color-main;
    color: $color-font-btn;
    padding: rem(14) 0 rem(11) rem(45);
    text-align: center;
    margin-bottom: rem(24);
    margin-left: 0;

    span {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        left: rem(-40);
        bottom: rem(0);
        background: url(/assets/images/icon-shop-sp.svg) center center / cover;
        background-repeat: no-repeat;
        width: rem(23.8);
        height: rem(22.5);
      }
    }
  }
}

.shop__tab-menu {
  margin-bottom: rem(60);

  @include mq(md) {
    display: none;
  }
}

.tab-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:not(:last-child) {
    margin-right: rem(10);
  }
}

.tab-menu__item {
  max-width: rem(161);
  width: 100%;

  span {
    letter-spacing: 0.04em;
    line-height: (22 / 16);
    display: block;
    width: 100%;
    border: rem(2) solid $color-main;
    color: $color-main;
    background: $color-base-1;
    // padding: rem(14) 0;
    height: rem(66);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .is-active {
    background: $color-main;
    color: $color-font-btn;
    animation: fade 0.5s ease;
  }
}

.shop__tab-content {
  max-width: rem(601);
  width: 100%;
  margin: auto;
  margin-bottom: rem(94);

  @include mq(md) {
    max-width: rem(540);
    width: 100%;
    padding: 0 $padding-sp;
    margin-bottom: rem(48);

    overflow: hidden;
  }
}

.tab-content {
  .is-active {
    display: block;
    animation: fade 0.5s ease;
  }
}

.tab-content__item {
  display: none;
  text-align: center;

  @include mq(md) {
    display: block;
    &:not(:last-child) {
      margin-bottom: rem(32);
      border-bottom: rem(1) dashed #bcbcbc;
    }
  }

  p {
    font-size: rem(14);
    letter-spacing: 0.05em;
    line-height: 1;
    padding: rem(8) 0;
    border: rem(1) solid $color-font;

    @include mq(md) {
      display: none;
    }
  }
}

.shop-information {
  display: none;

  @include mq(md) {
    display: block;
    text-align: center;
    margin-bottom: rem(17);
  }
}

.shop-information__name {
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1;
  margin-bottom: rem(12);
  color: $color-main;

  @include mq(md) {
    margin-bottom: rem(10);
  }
}

.shop-information__address {
  font-size: rem(14);
  letter-spacing: 0.05em;
  line-height: (20 / 14);
  color: $color-font;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*  swiper  ****************************/
.shop__swiper {
}

.swiper {
  margin-bottom: rem(26);
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);

  @include mq(md) {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: rem(23);
    overflow: visible;
  }
}

.swiper-container {
  max-width: rem(601);
  width: 100%;
  margin: auto;
}

.slider {
  display: block;
  max-width: rem(601);

  width: 100%;
  margin-bottom: rem(29);
  position: relative;

  @include mq(md) {
    margin-bottom: rem(16);
  }

  .swiper-wrapper {
    .swiper-slide {
      opacity: 0.15;
      width: rem(601);
      padding-top: 58.2%;
      height: auto;
      position: relative;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }

    .swiper-slide-active {
      opacity: 1;
    }
  }
}

.slider-thumbnail {
  .swiper-wrapper {
    .swiper-slide {
      width: 106px;
      height: 64px;
      cursor: pointer;

      @include mq(md) {
        width: 59px;
        height: 36px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include mq(md) {
        }
      }
    }
  }
}

.swiper-button-next {
  background: url(/assets/images/icon-arrow002.svg) center center / cover;
  background-repeat: no-repeat;
  width: rem(48);
  height: rem(50);

  @include mq(md) {
    background: url(/assets/images/swiper-icon-next.svg) center center / cover;
    opacity: .36;
    width: rem(25);
    height: rem(25);
    border-radius: 50%;

  }
}

.swiper-button-prev {
  background: url(/assets/images/icon-arrow001.svg) center center / cover;
  background-repeat: no-repeat;
  width: rem(48);
  height: rem(50);

  @include mq(md) {
    background: url(/assets/images/swiper-icon-rev.svg) center center / cover;
    opacity: .36;
    width: rem(25);
    height: rem(25);
    border-radius: 50%;

  }
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  position: absolute;
  left: rem(-59);
  top: 52%;

  @include mq(md) {
    left: rem(-11);
    top: 53%;
  }
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  position: absolute;
  right: rem(-59);
  top: 52%;

  @include mq(md) {
    
    right: rem(-9);
    top: 54%;
  }
}



/*  careful  ****************************/
.careful {
  @include mq(md) {
    padding: 0 $padding-sp;
    max-width: rem(540);
    width: 100%;
    margin: auto;
  }
}

.careful__title {
  text-align: center;
  background: $color-main;
  color: $color-font-btn;
  letter-spacing: 0.075em;
  line-height: 1;
  padding: rem(11) 0;
  font-size: rem(20);
  font-weight: 700;

  @include mq(md) {
    font-size: rem(16);
    padding: rem(15) 0 rem(11);
  }
}

.careful__item {
  border: rem(4) solid $color-main;
  border-top: none;
}

.careful-item {
  padding-top: rem(26);
  padding-bottom: rem(30);

  @include mq(md) {
    padding-top: rem(17);
    padding-bottom: rem(25);
  }
}

.careful-item__lead {
  letter-spacing: 0.04em;
  line-height: 1;
  text-align: center;
  margin-bottom: rem(20);

  @include mq(md) {
    font-size: rem(13);
    margin-bottom: rem(23.6);
  }
}

.careful-item__lists {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: rem(25.6);

  @include mq(md) {
    // justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 rem(20);
    margin-bottom: rem(0);
  }
}

.careful-item__list {
  &:first-child {
    margin-right: rem(44);
    img {
      width: rem(70.8);
      margin-bottom: rem(12.8);
    }

    @include mq(md) {
      margin: auto;
      img {
        margin-bottom: rem(16.8);
      }
    }
  }

  &:nth-child(2) {
    margin-right: rem(46);
    img {
      width: rem(47.7);
      margin-bottom: rem(15);
    }
    @include mq(md) {
      margin: auto;
      img {
        margin-bottom: rem(11);
      }
    }
  }

  &:nth-child(3) {
    margin-right: rem(30);
    img {
      width: rem(64.5);
      margin-bottom: rem(15);
    }
    @include mq(md) {
      margin: auto;
      img {
        margin-bottom: rem(14);
      }
    }
  }

  &:nth-child(4) {
    margin-right: rem(23);
    img {
      width: rem(77.7);
      margin-bottom: rem(15.8);
    }
    @include mq(md) {
      margin: auto;
      img {
        margin-bottom: rem(14.8);
      }
    }
  }

  &:last-child {
    img {
      width: rem(45.4);
      margin-bottom: rem(15);
    }
    @include mq(md) {
      margin: auto;
      img {
        margin-bottom: rem(14);
      }
    }
  }

  img {
    margin: auto;
  }

  p {
    color: #989898;
    text-align: center;
    font-size: rem(14);
    letter-spacing: 0.04em;
    line-height: (24 / 14);

    @include mq(md) {
      font-size: rem(10);
      line-height: (14 / 10);
      margin-bottom: rem(20);
    }
  }
}

.careful-item__detail {
  letter-spacing: 0.04em;
  line-height: (28 / 16);
  max-width: rem(817);
  width: 100%;
  margin: auto;
  span {
    font-weight: 700;
    background: linear-gradient(transparent 80%, #fff49b 80%);
  }

  @include mq(md) {
    padding: 0 rem(16);
    font-size: rem(13);
    line-height: (22 / 13);
  }
}

/*  contact  ****************************/
.contact {
  background: #fffad0;
  padding: rem(80.5) $padding-pc rem(103);

  @include mq(md) {
    padding: rem(24) 0 rem(33);
  }
}

.contact__title {
  letter-spacing: 0.2em;
  line-height: 1;
  margin-bottom: rem(46.6);
  margin-left: rem(5);

  @include mq(md) {
    font-size: rem(18);
    letter-spacing: 0.2em;
    max-width: 100%;
    padding: rem(13.5) 0 rem(12.5) rem(5);
    background: $color-main;
    color: $color-font-btn;
    text-align: center;
    margin-bottom: rem(24);
    margin-left: 0;
  }
}

.contact-inner {
  max-width: rem(885);
  width: 100%;
  margin: auto;

  @include mq(md) {
    max-width: rem(540);
    padding: 0 $padding-sp;
  }
}

.contact__lead {
  background: #f7f7f7;
  padding: rem(28.8) 0 rem(21.3);
  width: 100%;
  text-align: center;

  @include mq(md) {
    padding: rem(8) 0 rem(9);
    background: $color-base-1;
  }

  p {
    display: inline-block;
    font-size: rem(22);
    letter-spacing: 0.05em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: #4d4d4d;
    padding-left: rem(59);
    position: relative;

    @include mq(md) {
      font-size: rem(14);
      padding-left: rem(22);
    }

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: rem(-10);
      transform: translate(0, -50%);
      background: url(/assets/images/icon-mail.svg) center center / cover;
      background-repeat: no-repeat;
      width: rem(41.4);
      height: rem(35);

      @include mq(md) {
        width: rem(28);
        height: rem(23);
        left: rem(-16);
      }
    }
  }
}

.contact__form {
}

.form {
  padding: rem(41) rem(41.5) rem(54) rem(40);
  background: $color-base-1;

  @include mq(md) {
    padding: rem(10) rem(12) rem(44);
  }
}

label {
  display: inline-block;
  max-width: rem(302.5);
  width: 100%;
  padding-left: rem(65);
  position: relative;
  text-align: left;

  @include mq(md) {
    display: block;
    max-width: 100%;
    padding-left: rem(49.5);
    margin-bottom: rem(4);
    font-size: rem(13);
    line-height: (26 / 13);
  }

  &::before {
    position: absolute;
    width: rem(49);
    height: rem(24.5);
    text-align: center;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    font-size: rem(14);
    font-weight: 700;
    color: $color-font-btn;

    content: "必須";
    background: $color-main;

    @include mq(md) {
      width: rem(37.3);
      height: rem(18.7);
      font-size: rem(10);
    }
  }
}

select {
}

input,
select,
textarea {
  width: 100%;
  display: inline-block;
  border: rem(1) solid #cccccc;
  padding: rem(12) rem(16);
  line-height: 1;
  color: $color-font;

  @include mq(md) {
    max-width: 100%;
  }

  &:required {
    background: $color-base-2;
  }

  &::placeholder {
    font-size: rem(16);
    font-weight: 400;
    color: #d3d3d3;
  }
}

select {
  display: block;
  width: 100%;
  padding-top: rem(16);
  padding-bottom: rem(16);
}

.form-model-house {
  position: relative;

  &::after {
    position: absolute;
    content: "▼";
    top: 50%;
    right: rem(20);
    transform: translate(0, -50%);
    width: rem(9);
    height: rem(17);
    font-size: rem(10);
    color: #d3d3d3;

    @include mq(md) {
      top: rem(48);
      transform: translate(0, 0);
    }
  }

  @include mq(md) {
    label {
      br {
        display: none;
      }
    }
  }
}

.form__item {
  margin-bottom: rem(39);
  display: flex;

  align-items: center;

  @include mq(md) {
    display: block;
    margin-bottom: rem(11);
  }
}

.form-day {
}

.form-calendar {
  width: rem(276);
  margin-right: rem(16);

  @include mq(md) {
    width: 100%;
    margin-bottom: rem(12.3);
  }
}

.form-time {
  width: calc(100% - 292px);

  @include mq(md) {
    width: 100%;
  }
}

.form-name {
}

.form-tel {
}

.form-email {
  label {
    &::before {
      content: "任意";
      background: #cccccc;
    }
  }
}

.form-content {
  align-items: start;
  margin-bottom: rem(52);

  @include mq(md) {
    margin-bottom: rem(8);
  }

  label {
    margin-top: rem(12);
  }

  textarea {
    height: rem(160);
  }

  label {
    &::before {
      content: "任意";
      background: #cccccc;
    }
  }
}

textarea::placeholder {
  line-height: (26 / 16);
}

.privacy-policy {
  font-size: rem(14);
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: (24 / 14);
  margin-bottom: rem(35);
  a {
    text-decoration: underline;
    color: #378ce2;
  }

  @include mq(md) {
    font-size: rem(12);
    line-height: (18 / 12);
    margin-bottom: rem(21);
  }
}

.check-label {
  display: block;
  text-align: center;
  background: #f7f7f7;
  max-width: rem(349);
  margin: auto;
  margin-bottom: rem(40);
  padding: rem(13) 0;
  border: 1px solid #cccccc;

  @include mq(md) {
    max-width: 100%;
    margin-bottom: rem(25);
  }

  &::before {
    content: none;
  }
}

.form-check {
  display: none;

  + span {
    display: inline-block;
    padding: 0 0 0 rem(33);
    position: relative;
    transition: all 0.3s ease;
    font-size: rem(16);
    font-weight: 400;

    @include mq(md) {
      font-size: rem(14);
      margin-left: rem(-13);
      padding: 0 0 0 38px;
      letter-spacing: 0;
      text-align: left;
    }

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      content: "";
      background: #ffffff;
      border: 1px solid $color-font;
      display: block;
      left: rem(-10);
      width: rem(20);
      height: rem(20);
      transition: all 0.3s ease;

      @include mq(md) {
        left: rem(-2);
      }
    }

    &::after {
      position: absolute;
      content: "";
      border-left: rem(2) solid #9c9c9c;
      border-bottom: rem(2) solid #9c9c9c;
      transform: rotate(-45deg);
      width: rem(15);
      height: rem(7);
      top: rem(8);
      left: rem(-7);
      transition: opacity 0.3s ease 0s;
      opacity: 0;

      @include mq(md) {
        width: rem(15);
        height: rem(7);
        top: rem(8);
        left: rem(2);
      }
    }

    a {
      color: $color-font-btn;
      text-decoration: underline 1px;
    }
  }
  &:checked {
    + span {
      &::after {
        opacity: 1;
      }
    }
  }
}

.form-button {
  margin: auto;

  input {
    border: none;
    color: $color-font-btn;
    padding: 0;
  }
}

.calendar-span {
  display: inline-block;
  max-width: rem(276);
  width: 100%;
  margin-right: rem(16);
  position: relative;

  @include mq(md) {
    max-width: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: rem(20);
    transform: translate(0, -50%);
    width: rem(21.6);
    height: rem(19);
    background: url(/assets/images/icon-calendar.svg) center center / cover;
    background-repeat: no-repeat;

    @include mq(md) {
      top: 38%;
      right: rem(12);
    }
  }

  input {
  }
}

.days-span {
  display: inline-block;
  width: calc(100% - #{rem(276) + rem(16)});
  position: relative;

  @include mq(md) {
    width: 100%;
  }

  &::after {
    position: absolute;
    content: "▼";
    top: 50%;
    right: rem(20);
    transform: translate(0, -50%);
    width: rem(9);
    height: rem(17);
    font-size: rem(10);
    color: #d3d3d3;
  }

  select {
    display: block;
    width: 100%;
    padding-top: rem(16);
    padding-bottom: rem(16);

    option {
      &:first-of-type {
        color: #d3d3d3;
        background: red;
      }
    }
  }
}

/*  footer  ****************************/
.footer {
  padding: rem(26) 0 rem(21);

  @include mq(md) {
    padding: 0 0 rem(106);
  }
}

.footer__nav {
  display: none;

  @include mq(md) {
    display: block;
  }
}

.footer__lists {
  width: 100%;
  margin-bottom: rem(48);
}

.footer__list {
  border-bottom: rem(1) solid #cccccc;

  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: rem(24);
    transform: translate(0, -50%);
    background: url(/assets/images/icon-arrow02.svg) center center / cover;
    background-repeat: no-repeat;
    width: rem(13.6);
    height: rem(22);
  }

  a {
    display: block;
    padding-left: rem(23.3);
    padding-top: rem(20);
    padding-bottom: rem(20);
    line-height: 1;
  }
}

.footer__logo {
  max-width: rem(149);
  width: 100%;
  margin: auto;
  margin-bottom: rem(5.5);

  @include mq(md) {
    margin-bottom: rem(7);
  }

  img {
  }
}

.footer__copyright {
  text-align: center;

  small {
    font-size: rem(10);
    line-height: (26 / 10);

    @include mq(md) {
      font-size: rem(12);
    }
  }
}

/*  adulation  ****************************/
.adulation {
  position: fixed;
  top: rem(150);
  right: 0;
  z-index: 100;

  @include mq(md) {
    display: none;
  }
}

.adulation__to-reserve {
  margin-bottom: rem(20);

  a {
    width: rem(98);
    display: inline-block;
    color: $color-font-btn;
    font-weight: 700;
    text-align: center;
    line-height: (22 / 16);
    letter-spacing: 0.03em;
    background: $color-cv;
    padding-top: rem(69);
    padding-bottom: rem(19);
    border-top-left-radius: rem(10);
    border-bottom-left-radius: rem(10);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: rem(20);
      left: 50%;
      transform: translate(-50%, 0);
      width: rem(45.2);
      height: rem(46);
      background: url(/assets/images/icon-attendance.svg) center center / cover;
      background-repeat: no-repeat;
    }
  }
}

.adulation__to-top {
  a {
    width: rem(98);
    display: inline-block;
    color: $color-font-btn;
    font-weight: 700;
    text-align: center;
    line-height: (22 / 16);
    letter-spacing: 0.03em;
    background: $color-main;
    padding-top: rem(37);
    padding-bottom: rem(14);
    border-top-left-radius: rem(10);
    border-bottom-left-radius: rem(10);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: rem(15);
      left: 50%;
      transform: translate(-50%, 0);
      width: rem(25.4);
      height: rem(15.7);
      background: url(/assets/images/icon-top.svg) center center / cover;
      background-repeat: no-repeat;
    }
  }
}

.adulation-sp {
  display: none;

  @include mq(md) {
    display: block;
  }
}

.adulation__to-reserve--sp {
  @include mq(md) {
    position: fixed;
    z-index: 10000;
    bottom: 0;
    left: 0;
    width: 100%;
    height: rem(106);
    padding: rem(9) 0 rem(15);
    background: $color-base-1;
    border-top: rem(3) solid $color-main;
  }

  p {
    font-size: rem(14);
    font-weight: 700;
    letter-spacing: 0.06em;
    line-height: 1;
    margin-bottom: rem(9);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before,
    &::after {
      content: "";
      width: rem(1.5);
      height: rem(14);
      background: $color-font;
    }

    &::before {
      margin-right: rem(10);
      transform: rotate(-35deg);
    }

    &::after {
      margin-left: rem(10);
      transform: rotate(35deg);
    }
  }
}

.adulation__button {
  margin: auto;

  a {
    padding-top: rem(15);
    padding-bottom: rem(17);
    font-size: rem(20);
    padding-left: rem(18);

    .cv-button__icon01 {
      left: rem(47);
    }
  }

  .cv-button__icon01 {
    width: rem(28);
    height: rem(28.5);
  }
}

.adulation__to-top--sp {
  display: none;

  @include mq(md) {
    display: block;
    position: fixed;
    z-index: 1000;
    right: rem(14);
    bottom: rem(117);

    a {
      display: inline-block;
      width: rem(52);
      height: rem(52);
      border-radius: 50%;
      background: $color-main;
      position: relative;
      opacity: 0.55;

      &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url(/assets/images/icon-top.svg) center center / cover;
        background-repeat: no-repeat;
        width: rem(25.4);
        height: rem(15.7);
      }
    }
  }

  a {
  }
}
