@charset "UTF-8";
.u-desktop {
  display: none;
}

@media screen and (max-width: 1023px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (max-width: 1023px) {
  .u-mobile {
    display: none;
  }
}

/* FontFamily */
body {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
}

/* font-weight */
/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}

@media screen and (max-width: 885px) {
  html {
    font-size: 1.80791vw;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 4.26667vw;
  }
}

/* pcの電話番号発信対応 */
@media screen and (max-width: 767px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.75;
  color: #707070;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.appp {
  margin: 1px;
}

.cv-button {
  text-align: center;
  max-width: 305px;
  max-width: 19.0625rem;
  width: 100%;
}

.cv-button__detail {
  text-align: center;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 100%;
  color: #FFFFFF;
  background: #92A2E0;
  border-radius: 2.8125rem;
  padding-top: 33px;
  padding-top: 2.0625rem;
  padding-bottom: 33px;
  padding-bottom: 2.0625rem;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 700;
  border-bottom: 7px solid #6d79aa;
  border-bottom: 0.4375rem solid #6d79aa;
  -webkit-box-shadow: 0 0.1875rem 0.3125rem rgba(0, 0, 0, .16);
          box-shadow: 0 0.1875rem 0.3125rem rgba(0, 0, 0, .16);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cv-button__detail:hover {
  margin-top: 5px;
  margin-top: 0.3125rem;
  border-bottom: 2px solid #6d79aa;
  border-bottom: 0.125rem solid #6d79aa;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.cv-button__reserve {
  padding-left: 42px;
  padding-left: 2.625rem;
  position: relative;
}

.cv-button__icon01 {
  position: absolute;
  content: "";
  width: 35px;
  width: 2.1875rem;
  height: 35.5px;
  height: 2.21875rem;
  top: 50%;
  left: 71px;
  left: 4.4375rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url(/assets/images/icon-attendance.svg) center center/cover;
  background-repeat: no-repeat;
}

.cv-button__icon02 {
  position: absolute;
  content: "";
  width: 12.7px;
  width: 0.79375rem;
  height: 20.5px;
  height: 1.28125rem;
  top: 50%;
  right: 27px;
  right: 1.6875rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url(/assets/images/icon-arrow01.svg) center center/cover;
  background-repeat: no-repeat;
}

.cv-button__transmission {
  padding-left: 20px;
  padding-left: 1.25rem;
  position: relative;
}

.cv-button__icon03 {
  position: absolute;
  content: "";
  width: 32px;
  width: 2rem;
  height: 30px;
  height: 1.875rem;
  top: 46%;
  left: 93px;
  left: 5.8125rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url(/assets/images/icon-transmission.svg) center center/cover;
  background-repeat: no-repeat;
}

.cv-button__icon04 {
  position: absolute;
  content: "";
  width: 12.7px;
  width: 0.79375rem;
  height: 20.5px;
  height: 1.28125rem;
  top: 50%;
  right: 36px;
  right: 2.25rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url(/assets/images/icon-arrow01.svg) center center/cover;
  background-repeat: no-repeat;
}

.l-inner {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .l-inner {
    max-width: 935px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.section__title {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.42857;
  color: #F196A0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .section__title {
    font-size: 1.125rem;
    line-height: 1;
  }
}

/*  header  ****************************/
.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 34px;
  padding-left: 2.125rem;
  padding-right: 22px;
  padding-right: 1.375rem;
  height: 71px;
  height: 4.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .header {
    padding-left: 1.375rem;
    padding-right: 0.625rem;
  }
}

.header__logo {
  max-width: 78.7px;
  max-width: 4.91875rem;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .header__logo {
    max-width: 4.8125rem;
  }
}

.header__nav {
  margin-right: 44px;
  margin-right: 2.75rem;
}

@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.nav__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list:first-child {
  margin-right: 26.7px;
  margin-right: 1.66875rem;
}

.nav__list:nth-child(2) {
  padding: 0 24.3px;
  padding: 0 1.51875rem;
  position: relative;
  margin-right: 22.7px;
  margin-right: 1.41875rem;
}

.nav__list:nth-child(2)::before {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 0;
  height: 24.3px;
  height: 1.51875rem;
  width: 1px;
  width: 0.0625rem;
  background: #707070;
}

.nav__list:nth-child(2)::after {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 0;
  height: 24.3px;
  height: 1.51875rem;
  width: 1px;
  width: 0.0625rem;
  background: #707070;
}

.nav__list a {
  display: inline-block;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2.16667;
  color: #707070;
  padding: 10px 0;
  padding: 0.625rem 0;
}

.header__reserve--pc {
  display: inline-block;
  width: 161px;
  width: 10.0625rem;
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 1;
  padding-top: 14px;
  padding-top: 0.875rem;
  padding-bottom: 14px;
  padding-bottom: 0.875rem;
  text-align: center;
  background: #92A2E0;
  color: #FFFFFF;
  font-weight: 700;
  padding-left: 26px;
  padding-left: 1.625rem;
  border-radius: 0.25rem;
  position: relative;
}

@media screen and (max-width: 767px) {
  .header__reserve--pc {
    display: none;
  }
}

.header__reserve--sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .header__reserve--sp {
    display: inline-block;
    width: 3.125rem;
    font-size: 0.6875rem;
    line-height: 1;
    padding-top: 2rem;
    padding-bottom: 0.4375rem;
    text-align: center;
    background: #92A2E0;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 0.25rem;
    position: relative;
  }
}

.reserve__icon {
  position: absolute;
  content: "";
  width: 22.8px;
  width: 1.425rem;
  height: 23.2px;
  height: 1.45rem;
  top: 50%;
  left: 15px;
  left: 0.9375rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url(/assets/images/icon-attendance.svg) center center/cover;
  background-repeat: no-repeat;
}

.reserve__icon--sp {
  position: absolute;
  content: "";
  width: 22.8px;
  width: 1.425rem;
  height: 23.2px;
  height: 1.45rem;
  top: 5px;
  top: 0.3125rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: url(/assets/images/icon-attendance.svg) center center/cover;
  background-repeat: no-repeat;
}

/*  first-view  ****************************/
.first-view {
  height: 61.66667vw;
  background: url(/assets/images/fv_pc.png) center center/cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 71px;
  margin-top: 4.4375rem;
}

@media screen and (max-width: 767px) {
  .first-view {
    height: 164vw;
    background: url(/assets/images/fv_sp.png) center center/cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.first-view__button {
  margin: auto;
  max-width: 305px;
  max-width: 19.0625rem;
  width: 100%;
  margin-bottom: 17px;
  margin-bottom: 1.0625rem;
}

@media screen and (max-width: 767px) {
  .first-view__button {
    margin-bottom: 1.625rem;
  }
}

.first-view__annotation {
  font-size: 12px;
  font-size: 0.75rem;
  color: #707070;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

@media screen and (max-width: 767px) {
  .first-view__annotation {
    margin-bottom: 1.40625rem;
  }
}

.first-view__annotation a {
  text-decoration: underline;
  color: #378ce2;
  text-align: center;
}

/*  about  ****************************/
.about {
  width: 100%;
  padding: 0 25px;
  padding-top: 127px;
  padding-top: 7.9375rem;
  padding-bottom: 170px;
  padding-bottom: 10.625rem;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .about {
    padding: 1.5rem 0 13rem;
  }
}

.about::before {
  position: absolute;
  z-index: -1;
  content: "";
  left: 0;
  top: 198px;
  top: 12.375rem;
  width: 308px;
  width: 19.25rem;
  height: 233px;
  height: 14.5625rem;
  background: url(/assets/images/about01.png) center center/cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .about::before {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/images/about-sp.png) center center/cover;
    background-repeat: no-repeat;
  }
}

.about::after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 37px;
  top: 2.3125rem;
  right: -30px;
  right: -1.875rem;
  width: 347px;
  width: 21.6875rem;
  height: 445px;
  height: 27.8125rem;
  background: url(/assets/images/about02.png) center center/cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .about::after {
    content: none;
  }
}

.about__title {
  padding-left: 50px;
  padding-left: 3.125rem;
  letter-spacing: 0.2em;
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
  margin-left: 10px;
  margin-left: 0.625rem;
  text-align: center;
}

.about__title span {
  position: relative;
}

.about__title span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -63px;
  left: -3.9375rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url(/assets/images/concept-img03@2x.svg) center center/cover;
  background-repeat: no-repeat;
  width: 41.5px;
  width: 2.59375rem;
  height: 34.2px;
  height: 2.1375rem;
}

@media screen and (max-width: 767px) {
  .about__title {
    max-width: 100%;
    margin-bottom: 1.75rem;
    margin-left: 0;
    padding-top: 0.9375rem;
    padding-bottom: 0.6875rem;
    background: #F196A0;
    color: #FFFFFF;
    text-align: center;
  }
  .about__title span {
    position: relative;
  }
  .about__title span::before {
    position: absolute;
    content: "";
    left: -2.8125rem;
    bottom: 0rem;
    background: url(/assets/images/icon-modelhouse-sp.svg) center center/cover;
    background-repeat: no-repeat;
    width: 1.75rem;
    height: 1.4375rem;
  }
}

.about__lead {
  text-align: center;
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 0.04em;
  line-height: 1.77778;
}

@media screen and (max-width: 767px) {
  .about__lead {
    font-size: 0.875rem;
    line-height: 1.57143;
  }
}

.about__lead span {
  font-weight: 700;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), color-stop(80%, #fff49b));
  background: linear-gradient(transparent 80%, #fff49b 80%);
}

/*  present  ****************************/
.present {
  background: #FFF9F8;
  padding: 0 25px;
  padding-top: 87px;
  padding-top: 5.4375rem;
  padding-bottom: 62px;
  padding-bottom: 3.875rem;
}

@media screen and (max-width: 767px) {
  .present {
    padding: 1.5rem 0 2.375rem;
  }
}

.present__title {
  padding-left: 52px;
  padding-left: 3.25rem;
  position: relative;
  max-width: 384px;
  max-width: 24rem;
  width: 100%;
  margin: auto;
  margin-bottom: 34px;
  margin-bottom: 2.125rem;
  text-align: right;
  letter-spacing: 0.15em;
}

@media screen and (max-width: 767px) {
  .present__title {
    padding: 0.875rem 0 0.75rem;
    max-width: 100%;
    text-align: center;
    letter-spacing: 0.05em;
    background: #F196A0;
    color: #FFFFFF;
  }
  .present__title span {
    position: relative;
  }
  .present__title span::before {
    position: absolute;
    content: "";
    left: -2.1875rem;
    bottom: 0rem;
    background: url(/assets/images/icon-present-sp.svg) center center/cover;
    background-repeat: no-repeat;
    width: 1.4875rem;
    height: 1.40625rem;
  }
}

.present__title::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url(/assets/images/icon-present.svg) center center/cover;
  background-repeat: no-repeat;
  width: 33px;
  width: 2.0625rem;
  height: 31px;
  height: 1.9375rem;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .present__title::before {
    content: none;
  }
}

.present__contents {
  background: #FFFFFF;
  padding: 48px 69px 32.5px 79px;
  padding: 3rem 4.3125rem 2.03125rem 4.9375rem;
  max-width: 936px;
  max-width: 58.5rem;
  width: 100%;
  margin: auto;
  margin-bottom: 42px;
  margin-bottom: 2.625rem;
  background: linear-gradient(135deg, transparent 2.5rem, #FFFFFF 0) top left, linear-gradient(-135deg, transparent 0, #FFFFFF 0) top right, linear-gradient(-45deg, transparent 2.5rem, #FFFFFF 0) bottom right, linear-gradient(45deg, transparent 0, #FFFFFF 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .present__contents {
    padding: 0 20px;
    background: transparent;
    margin-bottom: 1.25rem;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .content {
    display: block;
  }
}

.content__quo {
  max-width: 395px;
  max-width: 24.6875rem;
  width: 100%;
  margin-right: auto;
  margin-top: -17px;
  margin-top: -1.0625rem;
}

@media screen and (max-width: 767px) {
  .content__quo {
    margin: auto;
    margin-bottom: 1.4375rem;
  }
}

.content__conditions {
  max-width: 341px;
  max-width: 21.3125rem;
  width: 100%;
  text-align: left;
  margin-left: 10px;
  margin-left: 0.625rem;
}

@media screen and (max-width: 767px) {
  .conditions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 1.25rem;
  }
}

.conditions__title {
  color: #F196A0;
  border: 2px solid #F196A0;
  border: 0.125rem solid #F196A0;
  border-radius: 0.5rem;
  max-width: 196px;
  max-width: 12.25rem;
  width: 100%;
  letter-spacing: 0.02em;
  line-height: 1;
  padding-top: 17.5px;
  padding-top: 1.09375rem;
  padding-bottom: 11.5px;
  padding-bottom: 0.71875rem;
  text-align: center;
  margin-bottom: 11.5px;
  margin-bottom: 0.71875rem;
  position: relative;
}

@media screen and (max-width: 767px) {
  .conditions__title {
    font-size: 0.75rem;
    letter-spacing: 0.02em;
    line-height: 1.33333;
    max-width: 4.875rem;
    width: 100%;
    padding-top: 0.6875rem;
    padding-bottom: 0.625rem;
    margin-right: 0.8125rem;
    margin-bottom: 0;
    border: 0.1875rem solid #F196A0;
  }
}

.conditions__title br {
  display: none;
}

@media screen and (max-width: 767px) {
  .conditions__title br {
    display: block;
  }
}

.conditions__title::before {
  position: absolute;
  content: "";
  top: -23px;
  top: -1.4375rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: url(/assets/images/present-ribbon.svg) center center/cover;
  background-repeat: no-repeat;
  width: 46.3px;
  width: 2.89375rem;
  height: 18.4px;
  height: 1.15rem;
}

.conditions__leads {
  margin-bottom: 9px;
  margin-bottom: 0.5625rem;
}

.conditions__lead {
  letter-spacing: 0.04em;
  line-height: 1.875;
  padding-left: 23px;
  padding-left: 1.4375rem;
  position: relative;
}

@media screen and (max-width: 767px) {
  .conditions__lead {
    letter-spacing: 0.03em;
    font-size: 0.75rem;
    line-height: 2;
    padding-left: 1.125rem;
    margin: 0;
  }
}

.conditions__lead::before {
  position: absolute;
  content: "▶︎";
  color: #F196A0;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.conditions__text {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

@media screen and (max-width: 767px) {
  .conditions__text {
    font-size: 0.6875rem;
    line-height: 1.54545;
    letter-spacing: 0.02em;
    text-align: center;
  }
}

.present__button {
  margin: auto;
}

/*  shop  ****************************/
.shop {
  padding: 88px 25px 90px;
  padding: 5.5rem 25px 5.625rem;
}

@media screen and (max-width: 767px) {
  .shop {
    padding: 1.5rem 0 3.125rem;
  }
}

.shop-inner {
  max-width: 885px;
  max-width: 55.3125rem;
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .shop-inner {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }
}

.shop__title {
  letter-spacing: 0.15em;
  margin-bottom: 49px;
  margin-bottom: 3.0625rem;
  position: relative;
  text-align: center;
  margin-left: 66px;
  margin-left: 4.125rem;
}

.shop__title span {
  position: relative;
}

.shop__title span::before {
  position: absolute;
  content: "";
  left: -62px;
  left: -3.875rem;
  bottom: 0px;
  bottom: 0rem;
  background: url(/assets/images/icon-modelhouse.svg) center center/cover;
  background-repeat: no-repeat;
  width: 39px;
  width: 2.4375rem;
  height: 30px;
  height: 1.875rem;
}

@media screen and (max-width: 767px) {
  .shop__title {
    letter-spacing: 0.2em;
    max-width: 100%;
    background: #F196A0;
    color: #FFFFFF;
    padding: 0.875rem 0 0.6875rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .shop__title span {
    position: relative;
  }
  .shop__title span::before {
    position: absolute;
    content: "";
    left: -2.1875rem;
    bottom: 0rem;
    background: url(/assets/images/icon-shop-sp.svg) center center/cover;
    background-repeat: no-repeat;
    width: 1.4875rem;
    height: 1.40625rem;
  }
}

.shop__tab-menu {
  margin-bottom: 60px;
  margin-bottom: 3.75rem;
}

@media screen and (max-width: 767px) {
  .shop__tab-menu {
    display: none;
  }
}

.tab-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tab-menu:not(:last-child) {
  margin-right: 10px;
  margin-right: 0.625rem;
}

.tab-menu__item {
  max-width: 161px;
  max-width: 10.0625rem;
  width: 100%;
}

.tab-menu__item span {
  letter-spacing: 0.04em;
  line-height: 1.375;
  display: block;
  width: 100%;
  border: 2px solid #F196A0;
  border: 0.125rem solid #F196A0;
  color: #F196A0;
  background: #FFFFFF;
  height: 66px;
  height: 4.125rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.tab-menu__item .is-active {
  background: #F196A0;
  color: #FFFFFF;
  -webkit-animation: fade 0.5s ease;
          animation: fade 0.5s ease;
}

.shop__tab-content {
  max-width: 601px;
  max-width: 37.5625rem;
  width: 100%;
  margin: auto;
  margin-bottom: 94px;
  margin-bottom: 5.875rem;
}

@media screen and (max-width: 767px) {
  .shop__tab-content {
    max-width: 33.75rem;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 3rem;
  }
}

.tab-content .is-active {
  display: block;
  -webkit-animation: fade 0.5s ease;
          animation: fade 0.5s ease;
}

.tab-content__item {
  display: none;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .tab-content__item {
    display: block;
  }
  .tab-content__item:not(:last-child) {
    margin-bottom: 2rem;
    border-bottom: 0.0625rem dashed #bcbcbc;
  }
}

.tab-content__item p {
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  line-height: 1;
  padding: 8px 0;
  padding: 0.5rem 0;
  border: 1px solid #707070;
  border: 0.0625rem solid #707070;
}

@media screen and (max-width: 767px) {
  .tab-content__item p {
    display: none;
  }
}

.shop-information {
  display: none;
}

@media screen and (max-width: 767px) {
  .shop-information {
    display: block;
    text-align: center;
    margin-bottom: 1.25rem;
  }
}

.shop-information__name {
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
  color: #F196A0;
}

.shop-information__address {
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  line-height: 1.42857;
  color: #707070;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*  swiper  ****************************/
.swiper {
  margin-bottom: 26px;
  margin-bottom: 1.625rem;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
}

@media screen and (max-width: 767px) {
  .swiper {
    margin-right: 0;
    margin-left: 0;
  }
}

.swiper-container {
  max-width: 601px;
  max-width: 37.5625rem;
  width: 100%;
  margin: auto;
}

.slider {
  display: block;
  max-width: 601px;
  max-width: 37.5625rem;
  width: 100%;
  margin-bottom: 29px;
  margin-bottom: 1.8125rem;
  position: relative;
}

@media screen and (max-width: 767px) {
  .slider {
    margin-bottom: 1rem;
  }
}

.slider .swiper-wrapper .swiper-slide {
  opacity: 0.15;
  width: 601px;
  width: 37.5625rem;
  padding-top: 58.2%;
  height: auto;
  position: relative;
}

.slider .swiper-wrapper .swiper-slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.slider .swiper-wrapper .swiper-slide-active {
  opacity: 1;
}

.slider-thumbnail .swiper-wrapper .swiper-slide {
  width: 106px;
  height: 64px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .slider-thumbnail .swiper-wrapper .swiper-slide {
    width: 59px;
    height: 36px;
  }
}

.slider-thumbnail .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-next {
  background: url(/assets/images/icon-arrow002.svg) center center/cover;
  background-repeat: no-repeat;
  width: 40px;
  width: 2.5rem;
}

.swiper-button-prev {
  background: url(/assets/images/icon-arrow001.svg) center center/cover;
  background-repeat: no-repeat;
  width: 40px;
  width: 2.5rem;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  position: absolute;
  left: -50px;
  left: -3.125rem;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  position: absolute;
  right: -50px;
  right: -3.125rem;
}

/*  careful  ****************************/
@media screen and (max-width: 767px) {
  .careful {
    padding: 0 20px;
    max-width: 33.75rem;
    width: 100%;
    margin: auto;
  }
}

.careful__title {
  text-align: center;
  background: #F196A0;
  color: #FFFFFF;
  letter-spacing: 0.075em;
  line-height: 1;
  padding: 11px 0;
  padding: 0.6875rem 0;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .careful__title {
    font-size: 1rem;
    padding: 0.9375rem 0 0.6875rem;
  }
}

.careful__item {
  border: 4px solid #F196A0;
  border: 0.25rem solid #F196A0;
  border-top: none;
}

.careful-item {
  padding-top: 26px;
  padding-top: 1.625rem;
  padding-bottom: 30px;
  padding-bottom: 1.875rem;
}

@media screen and (max-width: 767px) {
  .careful-item {
    padding-top: 1.0625rem;
    padding-bottom: 1.375rem;
  }
}

.careful-item__lead {
  letter-spacing: 0.04em;
  line-height: 1;
  text-align: center;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

@media screen and (max-width: 767px) {
  .careful-item__lead {
    font-size: 0.8125rem;
    margin-bottom: 1.475rem;
  }
}

.careful-item__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25.6px;
  margin-bottom: 1.6rem;
}

@media screen and (max-width: 767px) {
  .careful-item__lists {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 1.25rem;
    margin-bottom: 0rem;
  }
}

.careful-item__list:first-child {
  margin-right: 44px;
  margin-right: 2.75rem;
}

.careful-item__list:first-child img {
  width: 70.8px;
  width: 4.425rem;
  margin-bottom: 12.8px;
  margin-bottom: 0.8rem;
}

@media screen and (max-width: 767px) {
  .careful-item__list:first-child {
    margin: auto;
  }
  .careful-item__list:first-child img {
    margin-bottom: 1.05rem;
  }
}

.careful-item__list:nth-child(2) {
  margin-right: 46px;
  margin-right: 2.875rem;
}

.careful-item__list:nth-child(2) img {
  width: 47.7px;
  width: 2.98125rem;
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
}

@media screen and (max-width: 767px) {
  .careful-item__list:nth-child(2) {
    margin: auto;
  }
  .careful-item__list:nth-child(2) img {
    margin-bottom: 0.875rem;
  }
}

.careful-item__list:nth-child(3) {
  margin-right: 30px;
  margin-right: 1.875rem;
}

.careful-item__list:nth-child(3) img {
  width: 64.5px;
  width: 4.03125rem;
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
}

@media screen and (max-width: 767px) {
  .careful-item__list:nth-child(3) {
    margin: auto;
  }
  .careful-item__list:nth-child(3) img {
    margin-bottom: 0.875rem;
  }
}

.careful-item__list:nth-child(4) {
  margin-right: 23px;
  margin-right: 1.4375rem;
}

.careful-item__list:nth-child(4) img {
  width: 77.7px;
  width: 4.85625rem;
  margin-bottom: 15.8px;
  margin-bottom: 0.9875rem;
}

@media screen and (max-width: 767px) {
  .careful-item__list:nth-child(4) {
    margin: auto;
  }
  .careful-item__list:nth-child(4) img {
    margin-bottom: 0.925rem;
  }
}

.careful-item__list:last-child img {
  width: 45.4px;
  width: 2.8375rem;
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
}

@media screen and (max-width: 767px) {
  .careful-item__list:last-child {
    margin: auto;
  }
  .careful-item__list:last-child img {
    margin-bottom: 0.875rem;
  }
}

.careful-item__list img {
  margin: auto;
}

.careful-item__list p {
  color: #989898;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 0.04em;
  line-height: 1.71429;
}

@media screen and (max-width: 767px) {
  .careful-item__list p {
    font-size: 0.625rem;
    line-height: 1.4;
    margin-bottom: 1.5625rem;
  }
}

.careful-item__detail {
  letter-spacing: 0.04em;
  line-height: 1.75;
  max-width: 817px;
  max-width: 51.0625rem;
  width: 100%;
  margin: auto;
}

.careful-item__detail span {
  font-weight: 700;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), color-stop(80%, #fff49b));
  background: linear-gradient(transparent 80%, #fff49b 80%);
}

@media screen and (max-width: 767px) {
  .careful-item__detail {
    padding: 0 20px;
    font-size: 0.8125rem;
    line-height: 1.69231;
  }
}

/*  contact  ****************************/
.contact {
  background: #fffad0;
  padding: 80.5px 25px 103px;
  padding: 5.03125rem 25px 6.4375rem;
}

@media screen and (max-width: 767px) {
  .contact {
    padding: 1.5rem 0 2.0625rem;
  }
}

.contact__title {
  letter-spacing: 0.2em;
  line-height: 1;
  margin-bottom: 46.6px;
  margin-bottom: 2.9125rem;
  margin-left: 5px;
  margin-left: 0.3125rem;
}

@media screen and (max-width: 767px) {
  .contact__title {
    font-size: 1.125rem;
    letter-spacing: 0.2em;
    max-width: 100%;
    padding: 0.84375rem 0 0.78125rem;
    background: #F196A0;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

.contact-inner {
  max-width: 885px;
  max-width: 55.3125rem;
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .contact-inner {
    max-width: 33.75rem;
    padding: 0 20px;
  }
}

.contact__lead {
  background: #f7f7f7;
  padding: 28.8px 0 21.3px;
  padding: 1.8rem 0 1.33125rem;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .contact__lead {
    padding: 0.6875rem 0 0.5625rem;
    background: #FFFFFF;
  }
}

.contact__lead p {
  display: inline-block;
  font-size: 22px;
  font-size: 1.375rem;
  letter-spacing: 0.05em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #4d4d4d;
  padding-left: 59px;
  padding-left: 3.6875rem;
  position: relative;
}

@media screen and (max-width: 767px) {
  .contact__lead p {
    font-size: 0.875rem;
    padding-left: 2.1875rem;
  }
}

.contact__lead p::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -10px;
  left: -0.625rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url(/assets/images/icon-mail.svg) center center/cover;
  background-repeat: no-repeat;
  width: 41.4px;
  width: 2.5875rem;
  height: 35px;
  height: 2.1875rem;
}

@media screen and (max-width: 767px) {
  .contact__lead p::before {
    width: 1.75rem;
    height: 1.4375rem;
  }
}

.form {
  padding: 41px 41.5px 54px 40px;
  padding: 2.5625rem 2.59375rem 3.375rem 2.5rem;
  background: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .form {
    padding: 0.8125rem 0.75rem 2.75rem;
  }
}

label {
  display: inline-block;
  max-width: 302.5px;
  max-width: 18.90625rem;
  width: 100%;
  padding-left: 65px;
  padding-left: 4.0625rem;
  position: relative;
  text-align: left;
}

@media screen and (max-width: 767px) {
  label {
    display: block;
    max-width: 100%;
    padding-left: 3.09375rem;
    margin-bottom: 0.25rem;
    font-size: 0.8125rem;
    line-height: 2;
  }
}

label::before {
  position: absolute;
  width: 49px;
  width: 3.0625rem;
  height: 24.5px;
  height: 1.53125rem;
  text-align: center;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  color: #FFFFFF;
  content: "必須";
  background: #F196A0;
}

@media screen and (max-width: 767px) {
  label::before {
    width: 2.33125rem;
    height: 1.16875rem;
    font-size: 0.625rem;
  }
}

input,
select,
textarea {
  width: 100%;
  display: inline-block;
  border: 1px solid #cccccc;
  border: 0.0625rem solid #cccccc;
  padding: 12px 16px;
  padding: 0.75rem 1rem;
  line-height: 1;
  color: #707070;
}

@media screen and (max-width: 767px) {
  input,
  select,
  textarea {
    max-width: 100%;
  }
}

input:required,
select:required,
textarea:required {
  background: #FFF9F8;
}

input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  color: #d3d3d3;
}

input::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  color: #d3d3d3;
}

input::-ms-input-placeholder,
select::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  color: #d3d3d3;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  color: #d3d3d3;
}

select {
  position: relative;
}

.form-model-house {
  position: relative;
}

.form-model-house::after {
  position: absolute;
  content: "▼";
  top: 50%;
  right: 20px;
  right: 1.25rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 9px;
  width: 0.5625rem;
  height: 17px;
  height: 1.0625rem;
  font-size: 10px;
  font-size: 0.625rem;
  color: #707070;
}

@media screen and (max-width: 767px) {
  .form-model-house::after {
    top: 3.5rem;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@media screen and (max-width: 767px) {
  .form-model-house label br {
    display: none;
  }
}

.form__item {
  margin-bottom: 39px;
  margin-bottom: 2.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .form__item {
    display: block;
    margin-bottom: 1.1625rem;
  }
}

.form-day {
  position: relative;
}

.form-day::after {
  position: absolute;
  content: "▼";
  top: 50%;
  right: 20px;
  right: 1.25rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 9px;
  width: 0.5625rem;
  height: 17px;
  height: 1.0625rem;
  font-size: 10px;
  font-size: 0.625rem;
  color: #707070;
}

.form-calendar {
  width: 276px;
  width: 17.25rem;
  margin-right: 16px;
  margin-right: 1rem;
}

@media screen and (max-width: 767px) {
  .form-calendar {
    width: 100%;
    margin-bottom: 0.76875rem;
  }
}

.form-time {
  width: calc(100% - 292px);
}

@media screen and (max-width: 767px) {
  .form-time {
    width: 100%;
  }
}

.form-email label::before {
  content: "任意";
  background: #cccccc;
}

.form-content {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 52px;
  margin-bottom: 3.25rem;
}

.form-content label {
  margin-top: 12px;
  margin-top: 0.75rem;
}

.form-content textarea {
  height: 160px;
  height: 10rem;
}

.form-content label::before {
  content: "任意";
  background: #cccccc;
}

textarea::-webkit-input-placeholder {
  line-height: 1.625;
}

textarea::-moz-placeholder {
  line-height: 1.625;
}

textarea::-ms-input-placeholder {
  line-height: 1.625;
}

textarea::placeholder {
  line-height: 1.625;
}

.privacy-policy {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.71429;
  margin-bottom: 35px;
  margin-bottom: 2.1875rem;
}

.privacy-policy a {
  text-decoration: underline;
  color: #378ce2;
}

@media screen and (max-width: 767px) {
  .privacy-policy {
    font-size: 0.75rem;
    line-height: 1.5;
  }
}

.check-label {
  display: block;
  text-align: center;
  background: #f7f7f7;
  max-width: 349px;
  max-width: 21.8125rem;
  margin: auto;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
  padding: 13px 0;
  padding: 0.8125rem 0;
  border: 1px solid #cccccc;
}

@media screen and (max-width: 767px) {
  .check-label {
    max-width: 100%;
    margin-bottom: 1.75rem;
  }
}

.check-label::before {
  content: none;
}

.form-check {
  display: none;
}

.form-check + span {
  display: inline-block;
  padding: 0 0 0 33px;
  padding: 0 0 0 2.0625rem;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .form-check + span {
    font-size: 0.875rem;
    margin-left: 0rem;
    padding: 0 0 0 38px;
    letter-spacing: 0;
    text-align: left;
  }
}

.form-check + span::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  background: #ffffff;
  border: 1px solid #707070;
  display: block;
  left: -10px;
  left: -0.625rem;
  width: 20px;
  width: 1.25rem;
  height: 20px;
  height: 1.25rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-check + span::after {
  position: absolute;
  content: "";
  border-left: 2px solid #9c9c9c;
  border-left: 0.125rem solid #9c9c9c;
  border-bottom: 2px solid #9c9c9c;
  border-bottom: 0.125rem solid #9c9c9c;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 15px;
  width: 0.9375rem;
  height: 7px;
  height: 0.4375rem;
  top: 8px;
  top: 0.5rem;
  left: 2px;
  left: 0.125rem;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.form-check + span a {
  color: #FFFFFF;
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
}

.form-check:checked + span::after {
  opacity: 1;
}

.form-button {
  margin: auto;
}

.form-button input {
  border: none;
  color: #FFFFFF;
  padding: 0;
}

/*  footer  ****************************/
.footer {
  padding: 26px 0 21px;
  padding: 1.625rem 0 1.3125rem;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 0 0 6.625rem;
  }
}

.footer__nav {
  display: none;
}

@media screen and (max-width: 767px) {
  .footer__nav {
    display: block;
  }
}

.footer__lists {
  width: 100%;
  margin-bottom: 48px;
  margin-bottom: 3rem;
}

.footer__list {
  border-bottom: 1px solid #cccccc;
  border-bottom: 0.0625rem solid #cccccc;
  position: relative;
}

.footer__list::after {
  position: absolute;
  content: '';
  top: 50%;
  right: 30px;
  right: 1.875rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url(/assets/images/icon-arrow02.svg) center center/cover;
  background-repeat: no-repeat;
  width: 13.6px;
  width: 0.85rem;
  height: 22px;
  height: 1.375rem;
}

.footer__list a {
  display: block;
  padding-left: 23.3px;
  padding-left: 1.45625rem;
  padding-top: 20px;
  padding-top: 1.25rem;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
  line-height: 1;
}

.footer__logo {
  max-width: 149px;
  max-width: 9.3125rem;
  width: 100%;
  margin: auto;
  margin-bottom: 5.5px;
  margin-bottom: 0.34375rem;
}

@media screen and (max-width: 767px) {
  .footer__logo {
    margin-bottom: 1.1625rem;
  }
}

.footer__copyright {
  text-align: center;
}

.footer__copyright small {
  font-size: 10px;
  font-size: 0.625rem;
  line-height: 2.6;
}

@media screen and (max-width: 767px) {
  .footer__copyright small {
    font-size: 0.75rem;
  }
}

/*  adulation  ****************************/
.adulation {
  position: fixed;
  top: 150px;
  top: 9.375rem;
  right: 0;
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .adulation {
    display: none;
  }
}

.adulation__to-reserve {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

.adulation__to-reserve a {
  width: 98px;
  width: 6.125rem;
  display: inline-block;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  line-height: 1.375;
  letter-spacing: 0.03em;
  background: #92A2E0;
  padding-top: 69px;
  padding-top: 4.3125rem;
  padding-bottom: 19px;
  padding-bottom: 1.1875rem;
  border-top-left-radius: 10px;
  border-top-left-radius: 0.625rem;
  border-bottom-left-radius: 10px;
  border-bottom-left-radius: 0.625rem;
  position: relative;
}

.adulation__to-reserve a::before {
  content: "";
  position: absolute;
  top: 20px;
  top: 1.25rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 45.2px;
  width: 2.825rem;
  height: 46px;
  height: 2.875rem;
  background: url(/assets/images/icon-attendance.svg) center center/cover;
  background-repeat: no-repeat;
}

.adulation__to-top a {
  width: 98px;
  width: 6.125rem;
  display: inline-block;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  line-height: 1.375;
  letter-spacing: 0.03em;
  background: #F196A0;
  padding-top: 37px;
  padding-top: 2.3125rem;
  padding-bottom: 14px;
  padding-bottom: 0.875rem;
  border-top-left-radius: 10px;
  border-top-left-radius: 0.625rem;
  border-bottom-left-radius: 10px;
  border-bottom-left-radius: 0.625rem;
  position: relative;
}

.adulation__to-top a::before {
  content: "";
  position: absolute;
  top: 15px;
  top: 0.9375rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 25.4px;
  width: 1.5875rem;
  height: 15.7px;
  height: 0.98125rem;
  background: url(/assets/images/icon-top.svg) center center/cover;
  background-repeat: no-repeat;
}

.adulation-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .adulation-sp {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .adulation__to-reserve--sp {
    position: fixed;
    z-index: 10000;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6.625rem;
    padding: 0.5625rem 0 0.9375rem;
    background: #FFFFFF;
    border-top: 0.1875rem solid #F196A0;
  }
}

.adulation__to-reserve--sp p {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1;
  margin-bottom: 9px;
  margin-bottom: 0.5625rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adulation__to-reserve--sp p::before, .adulation__to-reserve--sp p::after {
  content: '';
  width: 1.5px;
  width: 0.09375rem;
  height: 14px;
  height: 0.875rem;
  background: #707070;
}

.adulation__to-reserve--sp p::before {
  margin-right: 15px;
  margin-right: 0.9375rem;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.adulation__to-reserve--sp p::after {
  margin-left: 15px;
  margin-left: 0.9375rem;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.adulation__button {
  margin: auto;
}

.adulation__button a {
  padding-top: 15px;
  padding-top: 0.9375rem;
  padding-bottom: 17px;
  padding-bottom: 1.0625rem;
  font-size: 20px;
  font-size: 1.25rem;
}

.adulation__button a .cv-button__icon01 {
  left: 47px;
  left: 2.9375rem;
}

.adulation__to-top--sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .adulation__to-top--sp {
    display: block;
    position: fixed;
    z-index: 1000;
    right: 0.875rem;
    bottom: 8rem;
  }
  .adulation__to-top--sp a {
    display: inline-block;
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 50%;
    background: #F196A0;
    position: relative;
    opacity: .55;
  }
  .adulation__to-top--sp a::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: url(/assets/images/icon-top.svg) center center/cover;
    background-repeat: no-repeat;
    width: 1.5875rem;
    height: 0.98125rem;
  }
}

body {
  font-size: 16px;
  font-size: 1rem;
}
