@charset "UTF-8";
.u-desktop {
  display: none;
}

@media screen and (max-width: 1023px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (max-width: 1023px) {
  .u-mobile {
    display: none;
  }
}

/* FontFamily */
body {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
}

/* font-weight */
/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}

@media screen and (max-width: 885px) {
  html {
    font-size: 1.80791vw;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 4.26667vw;
  }
}

/* pcの電話番号発信対応 */
@media screen and (max-width: 767px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.75;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.appp {
  margin: 1px;
}

.cv-button {
  text-align: center;
}

.cv-button__detail {
  text-align: center;
  letter-spacing: 0.05em;
  display: inline-block;
  max-width: 305px;
  max-width: 19.0625rem;
  width: 100%;
  color: #FFFFFF;
  background: #92A2E0;
  border-radius: 2.8125rem;
  padding-top: 33px;
  padding-top: 2.0625rem;
  padding-bottom: 33px;
  padding-bottom: 2.0625rem;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 700;
  border-bottom: 7px solid #6d79aa;
  border-bottom: 0.4375rem solid #6d79aa;
  -webkit-box-shadow: 0 0.1875rem 0.3125rem rgba(0, 0, 0, .16);
          box-shadow: 0 0.1875rem 0.3125rem rgba(0, 0, 0, .16);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cv-button__detail:hover {
  margin-top: 5px;
  margin-top: 0.3125rem;
  border-bottom: 2px solid #6d79aa;
  border-bottom: 0.125rem solid #6d79aa;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.cv-button__reserve {
  padding-left: 42px;
  padding-left: 2.625rem;
  position: relative;
}

.cv-button__icon01 {
  position: absolute;
  content: "";
  width: 35px;
  width: 2.1875rem;
  height: 35.5px;
  height: 2.21875rem;
  top: 50%;
  left: 71px;
  left: 4.4375rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url(/assets/images/icon-attendance.svg) center center/cover;
  background-repeat: no-repeat;
}

.cv-button__icon02 {
  position: absolute;
  content: "";
  width: 12.7px;
  width: 0.79375rem;
  height: 20.5px;
  height: 1.28125rem;
  top: 50%;
  right: 27px;
  right: 1.6875rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url(/assets/images/icon-arrow01.svg) center center/cover;
  background-repeat: no-repeat;
}

.cv-button__transmission {
  padding-left: 20px;
  padding-left: 1.25rem;
  position: relative;
}

.cv-button__icon03 {
  position: absolute;
  content: "";
  width: 32px;
  width: 2rem;
  height: 30px;
  height: 1.875rem;
  top: 46%;
  left: 93px;
  left: 5.8125rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url(/assets/images/icon-transmission.svg) center center/cover;
  background-repeat: no-repeat;
}

.cv-button__icon04 {
  position: absolute;
  content: "";
  width: 12.7px;
  width: 0.79375rem;
  height: 20.5px;
  height: 1.28125rem;
  top: 50%;
  right: 36px;
  right: 2.25rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url(/assets/images/icon-arrow01.svg) center center/cover;
  background-repeat: no-repeat;
}

.section {
  background: #c6c6c6;
  padding-top: 50px;
  padding-bottom: 50px;
}

.l-inner {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .l-inner {
    max-width: 935px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.appp {
  margin: 1px;
}

/*  header  ****************************/
.header {
  width: 100%;
  padding-left: 34px;
  padding-left: 2.125rem;
  padding-right: 22px;
  padding-right: 1.375rem;
  height: 71px;
  height: 4.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  max-width: 78.7px;
  max-width: 4.91875rem;
  margin-right: auto;
}

.header__nav {
  margin-right: 44px;
  margin-right: 2.75rem;
}

.nav__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list:first-child {
  margin-right: 26.7px;
  margin-right: 1.66875rem;
}

.nav__list:nth-child(2) {
  padding: 0 24.3px;
  padding: 0 1.51875rem;
  position: relative;
  margin-right: 22.7px;
  margin-right: 1.41875rem;
}

.nav__list:nth-child(2)::before {
  position: absolute;
  content: '';
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 0;
  height: 24.3px;
  height: 1.51875rem;
  width: 1px;
  width: 0.0625rem;
  background: #707070;
}

.nav__list:nth-child(2)::after {
  position: absolute;
  content: '';
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 0;
  height: 24.3px;
  height: 1.51875rem;
  width: 1px;
  width: 0.0625rem;
  background: #707070;
}

.nav__list a {
  display: inline-block;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2.16667;
  color: #707070;
  padding: 10px 0;
  padding: 0.625rem 0;
}

.header__reserve a {
  display: inline-block;
  width: 161px;
  width: 10.0625rem;
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 1;
  padding-top: 14px;
  padding-top: 0.875rem;
  padding-bottom: 14px;
  padding-bottom: 0.875rem;
  text-align: center;
  background: #92A2E0;
  color: #FFFFFF;
  font-weight: 700;
  padding-left: 26px;
  padding-left: 1.625rem;
  border-radius: 0.25rem;
  position: relative;
}

.reserve__icon {
  position: absolute;
  content: '';
  width: 22.8px;
  width: 1.425rem;
  height: 23.2px;
  height: 1.45rem;
  top: 50%;
  left: 15px;
  left: 0.9375rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url(/assets/images/icon-attendance.svg) center center/cover;
  background-repeat: no-repeat;
}

body {
  font-size: 16px;
  font-size: 1rem;
}
