// 透過度
$opacity: 0.6;
$hover-opacity: 0.8;

//汎用色
$color-base-1: #FFFFFF;
$color-base-2: #FFF9F8;
$color-main: #F196A0;
$color-accent: #FFF49B;
$color-cv: #92A2E0;

// 文字色
$color-font: #707070;
$color-font-btn: #FFFFFF;

