/* FontFamily */
$base-font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
$second-font-family: 'a-otf-ud-shin-go-pr6n', sans-serif;

body {
  font-family: $base-font-family;
}

/* font-weight */
$regular: 300;
$normal: 400;
$bold: 700;
